<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>TEIN YAZILIM İNSAN KAYNAKLARI SİSTEMİ</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
  <h1>CV LİSTESİ</h1>
  <a th:href="@{/user/showNewEmployeeForm}" class="btn btn-primary btn -sm mb-3">YENİ BİR CV YÜKLE</a>
  <table border="2" class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>AD SOYAD</th>
      <th>OKUL BİLGİSİ</th>
      <th>YETENEKLER</th>
      <th>HOBİLER</th>
      <th>DENEYİM</th>
      <th>Action</th>


    </tr>

    </thead>
    <tbody>
    <tr th:each="employee:${listEmployee}">
      <td th:text="${employee.name}"></td>
      <td th:text="${employee.school}"></td>
      <td th:text="${employee.skills}"></td>
      <td th:text="${employee.hobby}"></td>
      <td th:text="${employee.experience}"></td>
      <td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">GÜNCELLE</a>
        <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">SİL</a>
    </tr>

    </tbody>
  </table>

</div>
</body>
</html>